<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Configpath" value="~/XmlConfig/WebSet.config"/>
  <add key="Userpath" value="~/XmlConfig/user.config"/>
  <!--数据库链接字符串 -->
  <add key="FytSoft_ConnStr" value="Server=localhost;Database=fytsoadb;Uid=root;Pwd=123456;SslMode=None;Charset=utf8" />
  <!--数据库名字，数据库备份使用 -->
  <add key="DbNames" value="ylsc" />
  <!--关键词字段配置路径 -->
  <add key="KeyWord" value="~/XmlConfig/default.dic" />
  <!--加密解密key-->
  <add key="deskey" value="feiyitsoft2017"/>
</appSettings>
